<h1>Software Portfolio</h1>

<h2>Section: My Great Software</h2>

<h3>Post 1</h3>

<p>Here is my main post, Here is my main post, Here is my main post, Here is my main post, Here is my main post, Here is my main post, Here is my main post.</p>

<pre>
some code {
  # inside the block comment
}
</pre>

<br />
<pre>
some code {
  # inside the block comment
}
</pre>

<div class="searchContainer">
  <input type="text" autofocus placeholder="Search" />
</div>
