<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Louis Ritchie</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <header>
        <div class="overlayBlock2"></div>
        <div class="nameContainer">
          <div class="overlayBlock1"></div>
          <h1><a href="/">Louis Ritchie</a></h1>
          <div>
            <p>louis@louisritchie.com</p>
            <p><a href="https://github.com/louisritchie">Github</a></p>
            <p><a href="https://untouchable.tech">Company</a></p>
          </div>
        </div>
        <span>
        <div class="arrowBox1"></div>
        <div class="arrowBox2"></div>
        </span>
        <nav class="navlinksContainer" role="navigation">
          <ul class="navlinksList">
            <li class="navlink"><a href="/">Home</a></li>
            <li class="navlink"><a href="/posts">Posts</a></li>
          </ul>
        </nav>
      </header>

      <section>
        <%= render @view_module, @view_template, assigns %>
      </section>

      <footer>
        <p>Hello world</p>
        <p><a href="https://v1.louisritchie.com">View Old Version</a></p>
      </footer>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
