header {
  display: flex;
  flex-flow: justify-content;
  justify-content: space-between;
  height: 120px;
  position: relative;
  overflow: hidden;
  margin: auto;
  background-color: #f8f7ff;
}

.nameContainer,
.navlinksContainer {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.nameContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: calc(100% - 444px);
}

.navlinksContainer {
  width: 224px;
}

.nameContainer > h1 > a {
  text-decoration: none;
}

.nameContainer h1 {
  margin: 4px 0;
  text-align: left;
  font-size: 2.2em;
  padding-left: 24px;
  white-space: nowrap;
}

.nameContainer div {
  display: flex;
}

.nameContainer p {
  margin-top: 0;
  padding-right: 12px;
}

.nameContainer > div > p:first-child {
  padding-left: 24px;
}

.arrowBox1,
.arrowBox2 {
  width: 0;
  height: 0;
  display: table-cell;
  top: -120px;
  right: 84px;
  position: absolute;
}

.arrowBox1 {
  border: 120px solid white;
  border-left: 120px solid #f8f7ff;
  margin-right: 120px;
}

.arrowBox2 {
  border: 120px solid #f8f7ff;
  border-left: 120px solid white;
}

.navlinksContainer {
  display: flex;
}

.navlinksContainer a {
  text-decoration: none;
}

.navlinksList {
  display: flex;
  flex-flow: row;
  justify-content: flex-end; 
  align-items: center;
  list-style: none;
}

.navlink {
  padding: 0 48px 0 0;
  font-weight: 700;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer > input {
  background: none;
  border: none;
  font-size: 1em;
}
