a {
  color: #275d93;
}

a:hover,
a:visited:hover
{
  color: #68482e;
}

a:visited {
  color: #251101;
}

h1 {
  color: #251101;
  font-size: 1.6em;
}

h2 {
  color: #251101;
  font-size: 1.4em;
}

h3 {
  color: #275d93;
  font-size: 1.1em;
}

p {
  color: #251101;
  font-size: 0.9em;
}

pre {
  margin: 0;
  padding: 6px;
  background-color: #dee7fc;
  color: #251101;
  font-weight: 400;
  border-left: 3px solid #68482e;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

label {
  font-size: 0.8em;
}

input[type="text"],
textarea {
  margin-bottom: 12px;
  align-self: stretch;
}

input[type="submit"] {
  margin-top: 12px;
  align-self: flex-end;
}
